.backIcon{
    color: white;
    font-size: 300%;
    position: absolute;
    left: 0;
    z-index: 1000;
}

.backIcon:hover {
    color: #5585b5
}

@media screen  and (max-width: 768px){
    /* TODO: add mobile support*/
    .backIcon{
        font-size: 175%;
    }
}